/* glopal */
*,body,html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #544837;
}
.btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 35px;
    border-radius: 4px;
}
.container{
    width: 80%;
    margin: auto;
}
ul{
    list-style: none;
}
/* header */
header{
    margin-top: 20px;
    padding: 25px 0;
    
}
header .container{
    display: flex;
    justify-content: space-between;

}
.sign-in{
    color: #173A56;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-right: 14px;
}
.sign-up{
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}
nav{
    padding-top: 5px;
    margin-left: 302px;
}
nav .nav-topic{
    padding-left: 18px;
    color: #2F281E;
    
}
/* nav .nav-topic:hover{
    opacity: 1;
} */

/* desigen thinking */
.desigen-thinking{
    margin-top: 30px;
}
.desigen-thinking .container{
    display: flex;
    justify-content: space-between;
}
.desigen-thinking .title{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    padding-top: 83px;
}
.desigen-thinking .discreption{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    padding-top: 30px;
}
.desigen-thinking .started{
    background: #FF9900;
    color: #FFFFFF;


}
.desigen-thinking .watch{
    color: #FF9900;
    padding-top: 45px;

}
.fa-caret-right{
    padding-right: 8.5px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 45px;
}
/* desigen-tool */
.desigen-tool{
    margin-top: 111px;
}
.desigen-tool h1{
    width: 45%;
    margin: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;

}
.desigen-tool .content{
    margin-top: 46px;
    padding-top: 8px;
    background-image: url("../img/desigen-tool-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 119px;
}
.desigen-tool .content .cards-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.desigen-tool .card{
    margin-left: 46px;
}
.desigen-tool .card-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin-top: 30px;

}
.desigen-tool .card-descreption{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-top: 13px;

}
.sign-up-container{
    text-align: center;
}
/* Design-Professionals */
.Design-Professionals{
    margin-top: 120px;
}
.Design-Professionals-container{
    display: flex;
    justify-content: space-between;
}
.Design-Professionals-container .content{
    padding-right: 190px;
}
.Design-Professionals .uper-title{
    margin-top: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}
.Design-Professionals h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;

}
.Design-Professionals .text{
    margin-top: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.Design-Professionals .section-title{
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}
.Design-Professionals .section-discreption{
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
/* product-manager */
.product-manager-container{
    display: flex;
    justify-content: space-between;
    margin-top: 101px;
}
.product-manager .content{
    margin-left: 102px;
    padding-right: 143px;
}

.product-manager-container .uper-header{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
    margin-top: 50px;


}
.product-manager-container h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin-top: 3px;

}
.product-manager-container .title-descreption{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-top: 22px;
}
.product-manager-container .section{
    display: flex;
    margin-top: 30px;
}
.product-manager-container .icon{
    margin-right: 30px;
}
.product-manager-container .text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;

}
/* marketers */

.marketers{
    margin-top: 104px;
}
.marketers-container{
    display: flex;
    justify-content: space-between;
}
.marketers-container .content{
    padding-right: 190px;
}
.marketers .uper-title{
    margin-top: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}
.marketers h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;

}
.marketers .text{
    margin-top: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.marketers .section-title{
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}
.marketers .section-discreption{
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
/* need super hero */
.we-need-super{
    position: relative;
    background-image: url("../img/need\ bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-bottom: 135px;
    padding-top: 116px;
    height: 835px;
    margin-top: 157px;
}
.we-need-super .content{
    width: 542px;
    text-align: center;
    position: absolute;
    top: 230px;
    left: 476px;


}
.we-need-super h1{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* text-align: center; */
    color: #2F281E;
}
.we-need-super .description{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #567592;
    padding-top: 22px;
    margin-bottom: 45px;

}
.we-need-super .content a{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #FF9900;
    

}
.we-need-super .person-can-take{
    position: absolute;
    top: 222px;
    left: 125px;

}
.we-need-super .person-can-help{
    position: absolute;
    top: 116px;
    right: 225px;

}
.we-need-super .person-can-desigen{
    position: absolute;
    left: 335px;
    bottom: 233px;
}
.we-need-super .person-will{
    position: absolute;
    bottom: 135px;
    right: 495px;
}


.we-need-super .person-can-prototype{
    position: absolute;
    right: 131px;
    bottom: 257px;
}
.we-need-super .person-bio{
    padding: 15px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    width: 274px;
    position: absolute;
}
.we-need-super .can-take-bio{
    left: 182px;
    top: 181px;
}
.we-need-super .dot-1{
    position: absolute;
    left: 181px;
    top: 223px;

}
.we-need-super .can-help-bio{
    top: 94px;
    right: 304px;
    font-size: 15px;

}
.we-need-super .dot-2{
    position: absolute;
    top: 132px;
    right: 290px;
}
    
 .we-need-super .can-desigen-bio{
    left: 85px;
    bottom: 313px;
}
.we-need-super .dot-3{
    position: absolute;
    top: 504px;
    left: 335px;
    
}
.we-need-super .can-define-bio{
    right: 563px;
    bottom: 221px;
    width: 331px;
}
.we-need-super .dot-4{
    position: absolute;
    right: 549px;
    bottom: 215px;
    
}
.we-need-super .can-prototype-bio{
    width: 250px;
    right: 191px;
    bottom: 343px;

}
.we-need-super .dot-5{
    position: absolute;
    right: 176px;
    bottom: 339px;
    
}






/* marketing */
.marketing-container{
    margin-top: 30px;
    padding-bottom: 120px;
    /* prop */
    border-bottom: solid 1px rgba(188, 208, 229, 0.496913);;
}
.marketing-container h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #2F281E;
}
.marketing-container .title-description{
    margin-top: 9px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.marketing-container .cards-container{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}
.marketing-container .cards-container .card{
    /* margin-left:45px; */
}
.marketing-container .cards-container .card-2{
   margin-right: 45px;
}
.marketing-container .cards-container .auther{
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #544837
}
.marketing-container .cards-container .auther span{
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #544837
}
.marketing-container .cards-container .content{
    margin-top: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #2F281E;
    padding-bottom: 31px;
}
.marketing-container .cards-container .content:hover{
    color: #FF9900;
}
.marketing-container .dots{
    text-align: center;
    margin-top: 45px;
    color: #EFEFEF;;
}
.marketing-container .dots i{
    margin-left: 10px;
}
.marketing-container .dots i:hover{
    color: #FF9900 ;
}
.card-3 .content{
    padding-right: 10%;
}
/* footer */
footer{
    padding-bottom: 95px;
}
footer .footer-logo{
    margin-top: 105px;
}
.footer-content{
    display: flex;
    padding-top: 33px;
}
.footer-content .first-coulmn{
    margin-left: 325px;

}
.footer-content .second-coulmn{
    margin-left: 175px;
}
footer li{
    padding-top: 15px;
}
footer a:hover{
    color: #FF9900 ;
}
footer .th-coulmn{
    margin-left: 81px;
}
footer .rejister{
    border: 1px solid #BCD0E5;
    padding: 10px 128px 10px 15px;
    border-radius: 4px;
    margin-top: 40px;

}
footer .submit{
    background-color: #FF9900;
    color: #EFEFEF;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    display: block;
    margin-top: 21px;
   
}
